@charset "utf-8";
/* CSS Document */
body,html,.perWeb,.main{width:100%; height:100%; overflow:hidden;}
.perWeb{cursor:url(../img/cursor1s.gif) pointer;}
.home,.html,.js,.about{width:100%; height:100%; float:left;}
.home{background:url(../img/bg4.jpg) no-repeat; background-size:100% 100%;}
h3{width:100%; text-align:center; padding:10px 0; border-bottom:1px solid #ccc; box-shadow:0 0 5px 5px #666;}
h3 img{height:60px;}
.hbar{margin-left:500px; position:relative; margin-top:50px;}
h5{font-size:36px; color:#FF9; line-height:54px; margin-left:40px; font-weight:bold; width:38px; position:absolute; top:0; left:-10px;}
.itemh{
	width: 700px;height: 230px;
	margin: 10px auto;
}
.itemh span{
	display: block;
	color: #fff;font-size:20px; 
}
.base{
	width: 600px;height: 30px;background:#011635;border-radius: 6px;
	border:1px solid gray;
}
.base .s1,.base .s2,.base .s3,.base .s4{
	width: 0;height: 100%;border-radius:6px; background:#76e7fb; 
	-webkit-transition:all 3s ease-in-out;
}

#Pic { width: 730px; height: 300px; margin: 0 500px; position: relative; background:url(../img/hbg.gif); background-size:100% 100%; }
#Pic li { width: 150px; height: 300px; position: absolute; text-align: center;}
#Pic li span { width: 110px; height: 90px; overflow: hidden; border-radius:8px; position: absolute; bottom:50px; left: 20px;
	background:url('../img/shade.png') !important;
	background:none;
	filter:none!important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/shade.png',sizingMethod='img');
}
#Pic img { position: relative; top:0; }
#Pic .pic1 { top: 20px; left: 100px; z-index:1; }
#Pic .pic1 img {top:20px;}
#Pic .pic2 { top: 55px; left: 300px; z-index:2; }
#Pic .pic3 { top: 20px; left: 500px; z-index:1; }
#Pic .pic3 img {top:20px;}
#Pic .unactive {filter: alpha(opacity=20); opacity: 0.2;}








.nav{width:300px;height:300px; background:url(../img/navcenter1.jpg) no-repeat center center; background-size:100% 100%; border-radius:50%; position:fixed; top:200px; left:150px; z-index:100;}
.nav span{ position:absolute; top:0; left:50%; width:80px; height:80px; border-radius:50%; margin-left:-40px; margin-top:-40px; text-align:center; line-height:80px;background:url(../img/ball7.png);  background-size:100%; }
.nav span a{font-size:18px; color:#fff; font-weight:bold;}

.footer{width:100%; height:40px; position:fixed; left:0; bottom:0;}
.footer .fopa{width:100%; height:100%; background:#000; opacity:0.7; filter:after(opacity:70); position:absolute; top:0; left:0; border-top:1px solid #fafafa;}
.footer ul{position:absolute; top:0; right:30px;}
.footer li{float:left; margin:0 10px; color:#fff; line-height:40px; font-family:'楷体'; letter-spacing:1px;}
.ftel{background:url(../img/ftel.png) no-repeat left center; padding-left:26px;}
.fmail{background:url(../img/fmail.png) no-repeat left center; padding-left:32px;}

.js{background:url(../img/jsbg.jpg); background-size:100%;}
.jsnav{overflow:hidden; width:650px; margin-left:550px; margin-top:10px;}
.jsnav li a{width:100%; height:100%; display:block; text-align:center; line-height:150px; color:#FF0;}
.jsnav li{width:150px; height:150px; background:#ccc; font-size:30px; font-weight:bold; line-height:150px; overflow:hidden; float:left; margin:5px; position:relative; top:0; left:0;}
.jsnav li span{position:absolute; top:0; left:-200px; width:100%; height:100%; background:rgba(51,153,153,0.4);}
.jsnav li img{width:100%; height:100%;}


.html{background:url(../img/htmlbg.jpg); background-size:100% 100%; position:relative;}
#html{width:610px;height:390px; position:absolute; top:147px; left:567px; overflow:hidden; border-radius:10px;}
#html ul{position:absolute; top:0; left:0;}
#html ul li{float:left; width:610px; height:390px;}
#html ul li img{width:100%; height:100%;}
#html ol{width:250px;position:absolute; left:50%; bottom:20px; margin-left:-125px;}
#html ol li{width:30px; height:30px; background:rgba(200,200,200,1); border-radius:50%; float:left; text-indent:-99999px; margin:10px;}
#html ol li.on{background:rgba(51,255,0,0.6);}
#html .prev,#html .next{position:absolute; top:50%; margin-top:-30px; width:80px; height:60px; background:rgba(0,0,0,0.5); font-size:20px; text-align:center; line-height:60px; color:#fff; text-decoration:none; display:none;}
#html .prev{left:0;}
#html .next{right:0;}
#html .prev:hover{background:rgba(0,255,0,0.6); display:block;}
#html .next:hover{background:rgba(0,255,0,0.6); display:block;}


.about{background:url(../img/bg5.jpg); background-size:100%;}
.about .me{margin:80px 600px; border-radius:50%;}
#abshadow{position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity:50); display:none;}
#abbox{width:710px; height:550px; background:#fff; border:1px solid #000; position:absolute; top:50%;left:50%; margin-top:-300px; margin-left:-200px; display:none;}
.fileClose{width:40px; position:absolute; top:30px; right:30px;}
.aboutClick{font-size:26px; font-family:'微软雅黑'; position:absolute; top:400px; left:630px;}








