@charset "utf-8";
/* CSS Document */
.cxr_TVBox{width:236px;height:440px;overflow:auto;position:relative;}
.cxr_TVBox_m{width:221px;}
.new_games{width:220px;}
.new_games h3{height:22px;line-height:22px;font-size:12px;font-weight:bold;color:#fcba04;padding-left:27px;background:url(../img/icons01.png) no-repeat left center #303030;}
.new_games h3 span{display:inline-block;margin-left:100px;color:#fff;cursor:pointer;font-weight:normal;}

.cxr_liveShowBox{width:220px;background:#312f30;border-top:2px solid #111111;position:relative;index:1;}
.cxr_liveShowBox li{height:36px;line-height:36px;position:relative;text-indent:6em;border-bottom:1px solid #353334;}
.cxr_liveShowBox li img{margin-left:24px;margin-top:5px;border:0;vertical-align:bottom;}
.cxr_liveShowBox li a{color:#cbcbcb;font-size:14px;height:100%;width:100%;position:absolute;top:0;left:0;}
.cxr_liveShowBox li span{float:right;width:15px;height:15px;background:url(../img/playBtn.gif) no-repeat;margin-right:20px;margin-top:10px;display:none;}


<!--.rollBox{width:15px;height:100%;background:#0a0a0a;position:absolute;top:0;right:0;}
<!--.rollBoxBar{width:13px;height:216px;background:#403e3f;position:absolute;top:13px;left:1px;cursor:pointer;}
<!--.rollBoxBarUp{width:13px;height:11px;background:url(../img/rollBarUp_bg.png) no-repeat;position:absolute;top:1px;left:1px;}
<!--.rollBoxBarDo{width:13px;height:11px;background:url(../img/rollBarDown_bg.png) no-repeat;position:absolute;bottom:1px;left:1px;}