@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0; line-height:100%;}
ul,ol{ list-style:none;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
i,em{ font-style:normal;}
a img{ border:none;}
.clearfix:after{display:block; content:''; clear:both;}
.clearfix{zoom:1;}